#header {
  padding: 20px;
  display: block;
  justify-content: space-between;

  .logo {
    a {
      font-size: 48px;
      float: left;
    }
  }

  .subtitle {
    color: $main-colour;
    text-size: 20px;
    float: left;
  }

  .menu {
    align-self: flex-start;
    float: right;

    ul {
      display: inline-block;
      padding-right: 25px;

      li {
        display: inline-block;
        margin-right: 5px;
        @include underline-from-center;

        a {
          font-size: 18px;
        }
      }
    }
  }
}
@include max-screen() {
  #header {
    .logo, .menu {
      display: none;
    }
    padding: 50px 0 0;
    text-align: center;
  }
}
